{% extends 'dummy.html' %}

{% block title %}
    <title>Registration</title>
{% endblock %}
<!-- <style>
    body
    {
        background-image: url(https://thumbs.dreamstime.com/b/registration-online-membership-network-internet-business-technology-concept-104512007.jpg);
    }
</style> -->

{% block body_block %}
    <center>
        <h1>registration Form</h1>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <tr>
                    <td>{{usfo}}</td>
                </tr>
                <tr>
                    <td>{{pfo}}</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="registration">
                    </td>
                </tr>
            </form>
        </table>
    </center>
    <style>
        body
        {
            background-image: url(https://images6.alphacoders.com/414/414206.jpg);
            color: antiquewhite;
        }
    </style>
    {% endblock %}